<div class='login-signin'>
  <div class='sign-in-box'>
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'FlowupLabels'}) do |f| %>
      <%= devise_error_messages! %>

      <div class='fl_wrap'><%= f.label :email, :class => 'fl_label' %><br />
      <%= f.email_field :email, :class => 'fl_input' %></div>

      <div class='fl_wrap'><%= f.label :password, :class => 'fl_label' %><br />
      <%= f.password_field :password, :class => 'fl_input' %></div>

      <div class='fl_wrap'><%= f.label :password_confirmation, :class => 'fl_label' %><br />
      <%= f.password_field :password_confirmation, :class => 'fl_input' %></div>

      <div><%= f.submit "Sign up", :class => 'sign-in-btn' %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>