<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :coupon_code %><br>
    <%= f.text_field :coupon_code %>
  </div>
  <div class="field">
    <%= f.label :coupon_type %><br>
    <%= f.select :coupon_type, Coupon::COUPON_TYPES, prompt: 'Coupon Type' %>
  </div>



    <div id="select-coupon-product" class="field">
      <%= f.label :product_id %>
      <%= f.collection_select(:product_id, @products, :id, :title, {:include_blank => true}, prompt: 'Select Product') %>
    </div>



  <% if %>

  <% end %>
  <div class="field">
    <%= f.label :usage %><br>
    <%= f.text_field :usage %>
  </div>
  <div class="field">
    <%= f.label :discount_value %><br>
    <%= f.number_field :discount_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
