<p id="notice"><%= notice %></p>

<p>
  <strong>Coupon code:</strong>
  <%= @coupon.coupon_code %>
</p>

<p>
  <strong>Times used:</strong>
  <%= @coupon.times_used %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
