<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>
<strong>ID:</strong>
<div id='video-id'>
  <%= @video.id %>
</div>
<p>
  <strong>Video url:</strong>
  <p>Expires in: </p>
  <select>
    <option value='1440'>1 day</option>
    <option value='2880'>2 days</option>
    <option value='4320'>3 days</option>
    <option value='5760'>4 days</option>
    <option value='7200'>5 days</option>
    <option value='8640'>6 days</option>
    <option value='10080'>7 days</option>
  </select>
  <a href='', id='generate-link'>Generate link</a>
</p>
<div id='generated-link'>

</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
