
  <%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name, size: 40 %>
    </div>
    <% binding.pry %>
    <% if @cart.is_downloadable? %>
      <p>'Downloadable'</p>
    <% end %>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city, size: 40 %>
    </div>
     <div class="field">
      <%= f.label :state %><br>
      <%= f.select :state, Order::STATES, prompt: 'State' %>
    </div>
     <div class="field">
      <%= f.label :zipcode %><br>
      <%= f.text_field :zipcode, size: 5 %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :pay_type %><br>
      <%= f.select :pay_type, Order::PAYMENT_TYPES,
                        prompt: 'Select a payment method' %>
    </div>
    <% binding.pry %>
    <div class="submit-button actions">
      <%= f.submit 'Place Order' %>
    </div>
  <% end %>

