
<div class='order-summary'>
  <div class='summary'>
    <table>
      <%= render(@cart.line_items) %>
        <tr class='discount-row'>
          <td></td>
          <td class='discount'></td>
          <td class='order-discount'>
            <% if @order.discount > 0 %>
              <%= number_to_currency(@order.discount) %>
            <% end %>
          </td>
        </tr>
        <% binding.pry %>
        <tr class='total_line'>
          <td colspan='2'>Total: </td>
          <td class='total_cell'>
            <% if @order.discount > 0 %>
              <%= number_to_currency(@order.total_price - @order.discount) %>
            <% else %>
              <%= number_to_currency(@order.total_price) %>
            <% end %>
          </td>
        </tr>
    </table>

    <div class='coupon-code'>
      <%= form_tag(apply_coupon_path, :remote => true) do %>
        <%= text_field_tag :entered_code, '', :size => 6, :maxlength => 6, :placeholder => 'code' %>
        <span id='apply-coupon'>Apply</span>
      <% end %>
      <div class='coupon-validity'>
      </div>

      <%= link_to 'Empty Cart', @cart, method: :delete, remote: true,
        data: { confirm: 'Are you sure?' }, :class => 'empty-cart' %>
    </div>
  </div>
</div>