
<div class='order-summary'>
  <div class='summary'>
    <table>
      <%= render(@cart.line_items) %>
        <tr class='discount-row'>
          <td></td>
          <td class='discount'></td>
          <td class='order-discount'>
            <% if !(@order.discount == nil) && @order.discount > 0 %>
              <%= number_to_currency(@order.discount) %>
            <% end %>
          </td>
        </tr>
        <tr class='shipping-row'>
          <td></td>
          <td class='shipping'>Shipping:</td>
          <td class='order-shipping'>
            <%= number_to_currency(@order.shipping(@cart)) %>
          </td>
        </tr>
        <tr class='total_line'>
          <td colspan='2'>Total: </td>
          <td class='total_cell'>
            <% if !(@order.discount == nil) && @order.discount > 0 %>
              <%= number_to_currency(@order.total_price) %>
            <% else %>
              <%= number_to_currency(@cart.total_price) %>
            <% end %>
          </td>
        </tr>
    </table>

    <% if !@order.last_step? %>
      <div class='coupon-code'>
        <%= form_tag(apply_coupon_path, :remote => true) do %>
          <%= text_field_tag :entered_code, '', :size => 6, :maxlength => 6, :placeholder => 'coupon' %>
          <span id='apply-coupon'>Apply</span>
        <% end %>
        <div class='coupon-validity'>
        </div>

        <%= link_to 'Empty Cart', @cart, method: :delete, remote: true,
          data: { confirm: 'Are you sure?' }, :class => 'empty-cart' %>
      </div>
    <% end %>
  </div>
</div>