<div id='all-orders'>
  <h1>All Orders</h1>
  <p id='unshipped'>Unshipped: <%= @unshipped %></p>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Items to ship</th>
        <th>Total</th>
        <th class='date-column'>Order Date</th>
        <th class='date-column'>Shipped On</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= order.id %></td>
          <td><%= order.name %></td>
          <td class='order-address'>
            <%= order.address %><br>
            <%= order.city %><br>
            <%= order.state %><%= order.zipcode %>
          </td>
          <td><%= order.email %></td>
          <td>
            <ul>
              <% order.line_items.each do |i| %>
                <% if !i.product.downloadable %>
                  <li><%= i.quantity %> x <%= i.product.title %></li>
                <% end %>
              <% end %>
            </ul>
          </td>
          <td><%= number_to_currency(order.total_price) %></td>
          <td><%= order.created_at.strftime('%d/%m/%y') %></td>
          <td>
            <% if !order.shipped %>
            <%= link_to('Ship', order_path(order, :order => { :shipped => true,
              :ship_date => DateTime.now }), :method => :put) %><br>
            <% else %>
              <% if order.ship_date %>
                <%= order.ship_date.strftime("%d/%m/%y") %>
              <% else %>
                <span>n/a</span>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', order %><br>
            <%= link_to 'Edit', edit_order_path(order) %><br>
            <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders %>
  <%= link_to 'New Order', new_order_path %>
</div>