<div id='all-orders'>
  <h1>All Orders</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th></th>
        <th>Total</th>
        <th>Shipped</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= order.name %></td>
          <td class='order-address'>
            <%= order.address %><br>
            <%= order.city %><br>
            <%= order.state %><%= order.zipcode %>
          </td>
          <td><%= order.email %></td>
          <td><%= order.pay_type %></td>
          <td><%= number_to_currency(order.total_price) %></td>
          <td>
            <% if !order.shipped %>
            <%= link_to('Ship', order_path(order, :order => { :shipped => true,
              :ship_date => DateTime.now }), :method => :put) %><br>
            <% else %>
              <span>Shipped on:</span><br>
              <% if order.ship_date %>
                <%= order.ship_date.strftime("%d/%m/%Y") %>
              <% else %>
                <span>n/a</span>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', order %><br>
            <%= link_to 'Edit', edit_order_path(order) %><br>
            <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Order', new_order_path %>
</div>