
<div class='order-finished'>
  <h2>Thank You for your order!</h2>
  <p>You should receive a confirmation email shortly</p>
  <% if user_signed_in? %>
    <div class='summary'>
      <table>
        <thead>
          <th></th>
          <th>Items purchased:</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @order.products.each do |p| %>
          <tr>
            <td></td>
            <td><%= p.title %></td>
            <td class='item-price'><%= number_to_currency(p.price) %></td>
            <td class='download-link'>
              <% if p.is_downloadable || (p.is_downloadable && (p.category == '3')) %>
                <table>
                  <% p.videos.each do |video| %>
                    <tr>
                      <td class='video-name'><%= video.name %></td>
                      <td><%= link_to 'Download', download_video_path(video), class: "download-btn" %></td>
                    </tr>
                  <% end %>
                </table>
              <% end %>
            </td>
          </tr>
          <% end %>

          <% if @order.discount > 0 %>
            <tr class='discount-row'>
              <td></td>
              <td class='discount'>Discount:</td>
              <td class='order-discount'>-<%= number_to_currency(@order.discount) %></td>
            </tr>
          <% end %>
          <tr class='total_line'>
            <td></td>
            <td>Total:</td>
            <td class='total_cell'><%= number_to_currency(@order.total_price) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if @order.has_downloadable? %>
      <div id='download-info'>All downloadable products can be accessed in your Users Account page for later download.</div>
    <% end %>
  <% end %>
</div>