
<div class='order-finished'>
  <h2>Thank You for your order!</h2>
  <p>You should receive a confirmation email shortly.</p>
  <% if user_signed_in? %>
    <div class='summary'>
      <% if @order.has_downloadable? %>
        <table>
          <thead>
            <th></th>
            <th>Items purchased:</th>
            <th></th>
          </thead>
          <tbody>
            <% @order.products.each do |p| %>
            <tr class='product'>
              <td></td>
              <td><%= p.title %></td>
              <td class='download-link'>
                <% if p.is_downloadable || (p.is_downloadable && (p.category == '3')) %>
                  <table>
                    <% p.videos.each do |video| %>
                      <tr>
                        <td class='video-name'><%= video.name %></td>
                        <td><%= link_to 'Download', download_video_path(video), class: "download-btn" %></td>
                      </tr>
                    <% end %>
                  </table>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

    <% if @order.has_downloadable? %>
      <div id='download-info'>All downloadable products can be accessed in your <%= link_to 'Users Account', "/users/#{current_user.id.to_s}" %> page for later download.</div>
    <% end %>
  <% end %>
  <% if Rails.env.staging? %>
    <script>
      ga('require', 'ecommerce', 'ecommerce.js');
      ga('ecommerce:addTransaction', {
        'id': '<%= @order.id %>',                  // Transaction ID. Required.
        'affiliation': 'TOLY Store',               // Affiliation or store name.
        'revenue': '<%= @order.total_price %>'    // Grand Total.
      });

      ga('ecommerce:send');
    </script>
  <% end %>
</div>