<div id='order-show'>
  <p id="notice"><%= notice %></p>

  <div class='order-details'>
    <p>
      <strong>Name:</strong>
      <%= @order.first_name + " " + @order.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @order.email %>
    </p>

    <p>
      <strong>Address:</strong><br>
      <%= @order.address %><br>
      <%= @order.city %><br>
      <%= @order.state %>' '<%= @order.zipcode %>
    </p>

    <p>
      <strong>Order Date:</strong>
      <%= @order.created_at.strftime('%d/%m/%y') %>
    </p>

    <p>
      <strong>Ship Date:</strong>
      <% if @order.ship_date %>
        <%= @order.ship_date.strftime('%d/%m/%y') %>
      <% else %>
        <span>n/a</span>
      <% end %>
    </p>
  </div>
  <table>
    <% @order.line_items.each do |i| %>
      <tr>
        <td><%= i.quantity %></td>
        <td><%= i.product.title %></td>
        <td><%= number_to_currency(i.product.price) %></td>
      </tr>
    <% end %>
      <tr>
        <td colspan='2'><strong>Discount:</strong></td>
        <td><%= number_to_currency(@order.discount) %></td>
      </tr>
      <tr>
        <td colspan='2'><strong>Total Price:</strong></td>
        <td><%= number_to_currency(@order.total_price) %></td>
      </tr>
  </table>

  <div class='order-links'>
    <%= link_to 'Edit', edit_order_path(@order) %> |
    <%= link_to 'Back', orders_path %>
  </div>
</div>