<ul>
  <li><%= link_to 'HOME', '/', :class => is_active?("home") %></li>
  <li><%= link_to 'ABOUT US', '/about', :class => is_active?('about') %></li>
  <li><%= link_to 'SPINE HEALTH VIDEOS', '/spine-health-videos', :class => is_active?('spine_videos') %></li>
  <li><%= link_to 'PRODUCTS', '/other-products', :class => is_active?('other_products') %></li>
  <li><%= link_to 'SPINE THERAPY', '/spine-therapy', :class => is_active?('spine_therapy') %></li>
  <li><%= link_to 'REAL STORIES', '/real-stories', :class => is_active?('real_stories') %></li>
  <li><%= link_to 'CONTACT', '/contact', :class => is_active?('new') %></li>
</ul>