
<div id='product-list'>
  <h1>Listing products</h1>

  <table>
    <thead>
      <th></th>
      <th>Product Name/Description</th>
      <th>Downloadable</th>
      <th>Show In Store</th>
      <th></th>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td>
            <%= image_tag product.image.url(:thumb).to_s, class: 'list-image' %>
          </td>
          <td class='list_description'>
            <dl>
              <dt><%= product.title %></dt>
              <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
            </dl>
          </td>
          <td class='downloadable'>
            <% if product.is_downloadable %>
              <span class='is-d'>Yes</span>
            <% else %>
              <span class='not-d'>No</span>
            <% end %>
          </td>
          <td class='product-visibility'>
            <% if product.visible %>
              <span class='visible-product'>Visible</span>
            <% else %>
              <span class='hidden-product'>Hidden</span>
            <% end %>
          </td>
          <td class='list_actions'>
            <%= link_to 'Show', product %><br/>
            <%= link_to 'Edit', edit_product_path(product) %><br/>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <div>
    <%= link_to 'New Product', new_product_path, class: 'new-product-btn' %>
  </div>
</div>

