
<div>
  <%= @product.title %>
</div>

<div>
  <%= image_tag(@product.image_url, class: 'product-image') %>
</div>

<div id='product-desciption'>
  <%= @product.description %>
</div>

<div id='product-price'>
  <strong>Price:</strong>
  <%= @product.price %>
</div>

<%= link_to 'Back', products_path %>
