<div id='products-container'>
  <% if notice %>
    <p id='notice'><%= notice %></p>
  <% end %>

  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
      <% if product.visible %>
        <% cache ['entry', product] do %>
          <div class='entry'>
            <%= link_to(image_tag(product.image.url(:medium).to_s), product_path(product)) %>
            <div class='title-price'>
              <span class='title'><%= link_to(product.title, product_path(product)) %></span>
              <span class='price'><%= number_to_currency(product.price) %></span>
            </div>
            <div class='product-description'>
              <%= truncate(product.description, length: 120) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>