<!DOCTYPE html>
<html>
<head>
  <title>TOLY</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,600,500,300' rel='stylesheet' type='text/css'>
</head>
<body class='<%= controller.controller_name %>'>
  <div id='banner'>
    <%= image_tag('toly_logo.png') %>
  </div>
  <div id='columns'>
    <div id='side'>
      <ul>
        <li><a href='/'>HOME</a></li>
        <li><a href=''>STORE</a></li>
        <li><a href=''>ABOUT</a></li>
        <li><a href=''>CONTACT</a></li>
      </ul>
    </div>
    <div id='main'>
      <span><%= @page_title || 'TOLY' %></span>

      <%= yield %>

      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>

      <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete %>
      <% end %>
    </div>
  </div>
</body>
</html>
