<!DOCTYPE html>
<html>
<head>
  <title>TOLY</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag"https://js.stripe.com/v2/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => 'pk_test_4Np3e7ps5yODttYMFC3YBhCe' %>
  <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,600,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500' rel='stylesheet' type='text/css'>
</head>
<body class='<%= controller.controller_name %>-controller'>
  <div id='wrapper'>
    <div id='banner'>
      <div id='main-logo'>
        <div class='logo-text'>TREE OF LIFE</div>
        <div><%= image_tag('toly_glogo.svg', id: 'logo') %></div>
        <div class='logo-text'>SPINE THERAPY</div>
      </div>
        <% if @cart %>
          <div id='cart' class='hidden' data-id='<%= @cart.id %>'>
            <%= render @cart %>
          </div>
        <% end %>

      <div id='right-corner-bar'>
        <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'display-cart') do %>
            <%= image_tag('cart.svg', id: 'cart-icon') %>
            <div id='cart-item-count'>
              <%= @cart.items_in_cart %>
            </div>
          <% end %>
        <% end %>

        <div id='sign-in-out'>
          <% if user_signed_in? %>
            <span class='signed-in-as'>
              <%= link_to(current_user.first_name, "/users/#{current_user.id.to_s}") %>
            </span>
            <span id='sign'>
              |<%= link_to " Sign out", destroy_user_session_path, :method => :delete %>
            </span>
          <% else %>
            <span id='sign'>
            <%= link_to "Sign up", new_user_registration_path %> <span id='or'>|</span> <%= link_to "Sign in", new_user_session_path %>
            </span>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? && current_user.role == 'admin' %>
        <div id='left-corner-bar'>
          <ul>
            <li><a href="/products">Products</a> |</li>
            <li><a href="/videos">Videos</a> |</li>
            <li><a href="/coupons">Coupons</a> |</li>
            <li><a href="/slides">Slides</a> |</li>
            <li><a href="/users">Users</a></li>
          </ul>
        </div>
      <% end %>

    </div>
    <div id='menu'>
      <ul>
        <li><a href='/'>HOME</a></li>
        <li><a href='/about'>ABOUT US</a></li>
        <li><a href='/spine-health-videos'>SPINE HEALTH VIDEOS</a></li>
        <li><a href='/spine-therapy'>SPINE THERAPY</a></li>
        <li><a href='/real-stories'>REAL STORIES</a></li>
        <li><a href='/contact'>CONTACT US</a></li>
      </ul>
    </div>
    <div id='main'>
      <p class="alert"><%= alert %></p>

      <div id='container'>
        <%= yield %>
      </div>

    </div>
  </div>
  <footer>
    <ul>
      <li>Facebook</li>
      <li>Meetup</li>
      <li>Some</li>
    </ul>
  </footer>
</body>
  <%= javascript_include_tag"http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js" %>

</html>
