<!DOCTYPE html>
<html>
<head>
  <title>TOLY</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag"https://js.stripe.com/v2/", "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
  <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,600,500,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500' rel='stylesheet' type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  </script>
</head>
<body class='<%= controller.controller_name %>-controller'>
  <div id='wrapper'>
    <div id='banner'>
      <div id='mobile-menu-button'>
        <a href="#menu" class="box-shadow-menu"></a>
      </div>
      <div id='mobile-menu'>
        <span class='close'>X</span>
        <%= render 'pages/menu' %>
        <%= render 'users/signin' %>
      </div>
      <div id='main-logo'>
        <div class='logo-text-left'>TREE OF LIFE</div>
        <div id='logo-img'><%= image_tag('toly_glogo.svg', id: 'logo') %></div>
        <div class='logo-text-right'>SPINE THERAPY</div>
      </div>

      <div id='fixed-cart'>
        <div id='cart-bar'>
          <div id='right-corner-bar'>
            <%= render 'users/signin' %>
          </div>
          <% if @cart %>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'display-cart') do %>
              <%= image_tag('cart.svg', id: 'cart-icon') %>
              <div id='cart-item-count'>
                <%= @cart.items_in_cart + (@cart.items_in_cart == '1' ? ' item' : ' items') %>
              </div>
            <% end %>
          <% end %>

          <% if @cart %>
            <div id='cart' class='hidden' data-id='<%= @cart.id %>'>
              <%= render @cart %>
            </div>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? && current_user.role == 'admin' %>
        <div id='left-corner-bar'>
          <ul>
            <li><a href="/products">Products</a> |</li>
            <li><a href="/orders">Orders</a> |</li>
            <li><a href="/videos">Videos</a> |</li>
            <li><a href="/coupons">Coupons</a> |</li>
            <li><a href="/slides">Slides</a> |</li>
            <li><a href="/users">Users</a></li>
          </ul>
        </div>
      <% end %>

    </div>

    <div id='menu'>
      <%= render 'pages/menu' %>
    </div>
    <div id='main'>
      <p class="alert"><%= alert %></p>

      <div id='container'>
        <%= yield %>
      </div>

    </div>
    <% if Rails.env.staging? %>
      <script>
        ga('create', "<%= ENV['GA_UA'] %>", "<%= ENV['GA_URL'] %>");
        ga('send', 'pageview');
      </script>
    <% end %>
  </div>
  <footer>
    <div id='contact-info'>
      <div id='toly'>Tree of Life Yoga &copy;</div>
      <div id='street'>5515 Doyle Street, suite 12</div>
      <div id='city-zip'>Emeryville, CA 94608</div>
      <div id='phone'>510.852.9876</div>
    </div>
    <ul>
      <li><%= link_to image_tag('facebook.png', class: 'social'), 'https://www.facebook.com/pages/Tree-of-Life-Yoga/111819705523009', target: '_blank' %></li>
    </ul>
  </footer>
</body>
  <%= javascript_include_tag"http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js" %>
  <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

</html>
