
<h2>Stripe Billing Info</h2>

<%= f.hidden_field :stripe_card_token %>

<div class='billing-info'>
  <div class="field fl_wrap">
    <%= label_tag :card_number, nil, class: 'fl_label' %>
    <%= text_field_tag :card_number, nil, name: nil, size: 23, :class => 'fl_input' %>
  </div>
  <div class="field fl_wrap">
    <%= label_tag :card_code, nil, class: 'fl_label' %>
    <%= text_field_tag :card_code, nil, name: nil, size: 2, maxlength: 3, :class => 'fl_input' %>
  </div>

  <div class="field fl_wrap">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  </div>


  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div class="submit-area actions">
    <%= f.submit 'Place Order', :id => 'submit-btn' %>
  </div>
</div>