<h2>Confirm Your Order</h2>
<% binding.pry %>
<h3>Shipping Address</h3>
<p><%= @order.name %></p>
<p><%= @order.address %></p>
<p><%= @order.city %></p>
<p><%= @order.zipcode %> <%= @order.state %></p>