<div class='checkout-header'>
  <h2>Your Info</h2>
  <p>This address will be used to ship physical products.</p>
</div>
<div class='customer-info'>
  <div class="field fl_wrap">
    <%= f.label :first_name, :class => 'fl_label' %>
    <%= f.text_field :first_name, size: 35, :class => 'fl_input' %>
  </div>
  <div class="field fl_wrap">
    <%= f.label :last_name, :class => 'fl_label' %>
    <%= f.text_field :last_name, size: 35, :class => 'fl_input' %>
  </div>

  <div class="field fl_wrap">
    <%= f.label :address, :class => 'fl_label' %>
    <%= f.text_field :address, size: 35, :class => 'fl_input' %>
  </div>
  <div class="field fl_wrap">
    <%= f.label :city, :class => 'fl_label' %>
    <%= f.text_field :city, size: 35, :class => 'fl_input' %>
  </div>
   <div class="field fl_wrap">
    <%= f.label :state %>
    <%= f.select :state, Order::STATES, prompt: 'State' %>
  </div>
   <div class="field fl_wrap">
    <%= f.label :zipcode, :class => 'fl_label' %>
    <%= f.text_field :zipcode, size: 5, :class => 'fl_input' %>
  </div>

  <div class="field fl_wrap">
    <%= f.label :email, :class => 'fl_label' %>
    <%= f.email_field :email, size: 35, :class => 'fl_input' %>
  </div>
</div>