<div class='checkout-header'>
  <h2>Billing Info</h2>
</div>

<%= f.hidden_field :stripe_card_token %>

<%= check_box_tag :same_address %>
<%= label_tag :same_address, 'Same as shipping address', { :class => 'inline-label' } %>
<div class='billing-info'>
  <div class="field">
    <%= label_tag :billing_first_name, nil %>
    <%= text_field_tag :billing_first_name, nil, :data => {:shipping => @order.first_name }, size: 35 %>
  </div>
  <div class="field">
    <%= label_tag :billing_last_name, nil %>
    <%= text_field_tag :billing_last_name, nil, :data => {:shipping => @order.last_name }, size: 35 %>
  </div>

  <div class="field">
    <%= label_tag :billing_address, nil %>
    <%= text_field_tag :billing_address, nil, :data => {:shipping => @order.address }, size: 35 %>
  </div>
  <div class="field">
    <%= label_tag :billing_city, nil %>
    <%= text_field_tag :billing_city, nil, :data => {:shipping => @order.city }, size: 35 %>
  </div>
   <div class="field">
    <%= label_tag :billing_state %>
    <%= select_tag :billing_state, options_for_select(Order::STATES), prompt: 'State', :data => {:shipping => @order.state } %>
  </div>
   <div class="field">
    <%= label_tag :billing_zipcode, nil %>
    <%= text_field_tag :billing_zipcode, nil, :data => {:shipping => @order.zipcode }, maxlength: 5 %>
  </div>

  <div class="field">
    <%= label_tag :card_number, nil %>
    <%= text_field_tag :card_number, nil, name: nil, size: 23 %>
  </div>
  <div class="field">
    <%= label_tag :card_code, 'Security Code (CCV)' %>
    <%= text_field_tag :card_code, nil, name: nil, size: 2, maxlength: 3 %>
  </div>

  <div class="field">
    <%= label_tag :card_month, "Expiration Month" %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
  </div>
  <div class="field">
    <%= label_tag :card_year, "Expiration Year" %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  </div>


  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
</div>